body { 
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
  }
  
  #cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }

  h1 {
    opacity: 0.5;
    font-size: 1em;
  }

  /* you can set the disabled style how you like on the text/icon */
  .cxtmenu-disabled {
    opacity: 0.333;
  }
  
  